@model TradeTrack2.Models.ProductViewModel


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Добавить продукт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createProductForm">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Описание</label>
                        <textarea class="form-control" id="Description" name="Description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="UnitPrice" class="form-label">Стоимость</label>
                        <input type="number" class="form-control" id="UnitPrice" name="UnitPrice" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="createProductBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>

